scripts/
types/
build/

# Ignore the main node_modules directory
node_modules/

# Ignore penrose/ files here
penrose/node_modules/
penrose/package.json
penrose/package-lock.json

# Ignore Bedrock Dedicated Server
bedrock-server-*/
