scripts/
types/
build/

# Ignore the main node_modules directory
node_modules/

# Ignore src/ files here
src/node_modules/
src/package.json
src/package-lock.json

# Ignore Bedrock Dedicated Server
bedrock-server-*/
