node_modules
.gitignore
.distignore
.mcattributes
.prettierrc
package-lock.json
package.json
tsconfig.json
.github
.vs
.vscode
.git
.prettierignore
CHANGELOG.md
bedrock-server-*
src/package.json
src/package-lock.json
src/node_modules
